/* For logged Oout */
.nav-bar{
    height: 8vh;
}

.nav-list,
.nav-list-loggedIn{
    list-style-type: none;
    height: 100%;
    display: flex;
}
.nav-list{
    align-items: center;
    width: 90vw;
    justify-content: space-between;
}
@media screen and (max-width: 575px) {
    .nav-list{
        align-items: center;
        width: 90vw;
        justify-content: center;
    }
}
.nav-item{
    padding: 10px;
}
.nav-item a{
    color: #000;
    text-decoration: none;
}
.nav-item:hover{
    color: blue;
    cursor: pointer;
}
.side-nav{
    display: flex;
}

/* For logged In  */
.nav-list-loggedIn{
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid  #f6f6f8;
}
.nav-loggedIn-item{
    display: flex;
    width: 4vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.svg-icon{
    height: 28px;
    width: 30px;
    cursor: pointer;
    /* background-color: brown; */
}
.logout{
    height: 246x;
}
.right-border{
    border-right: 2px solid #f6f6f8 ;
}
.left-border{
    border-left: 2px solid #f6f6f8 ;
}
.username{
    font-family: "Libre Baskerville", serif;
    font-size: 15px;
    color: #2e2e2e;
}